.DS_Store
__pycache__
.ipynb_checkpoints/
MORALS.egg-info/
*logs/
tmp*/
examples/test.py
output/
models/
.vscode/
data/
dist/
config_humanoid/
config_pendulum/
examples/config/
examples/config_humanoid_no_topo/
config_humanoid_humanoid_1x/
config_humanoid_humanoid_10x/
config_humanoid_humanoid_1000x/
1_09_configs/
old_configs/